@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .h-screen {
    height: 100vh;
  }
}

.chart-container {
  width: 50%;
  margin: 0 auto;
}

textarea[id^="form-field_"] {
  text-align: left !important;
  direction: ltr !important;
}

p {
  font-weight: lighter;
}